h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
a:link,
a:visited {
  background-color: #1a3603;
  color: white;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(11, 199, 136);
  color: black;
}
aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #19ac73;
  color: #e6e6e6;
  padding: 1.2rem;
  font-size: 1rem;
}
body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #068856;
  color: #e6e6e6;
  padding: 1.2rem;
  font-size: 1rem;
}
section {
  padding: 1.5rem 0.8rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section p {
  max-width: 600px;
}

section figure figcaption {
  opacity: 0.8;
  font-size: 0.8rem;
  text-align: center;
}

footer {
  background-color: #068856;
  padding: 2rem;
}

footer p {
  color: #e6e6e6;
  font-size: 1rem;
  text-align: right;
}
